*{
    margin : 0;
    padding: 0;
}
 .navbar{
 text-transform  : uppercase;
 color           : white;
    }
.icon-bar{
    background: rgb(247, 246, 246);
}
li {
    padding: 0px 5px ;
     padding-left: 30px;
    padding-right: 30px;
}
.container a{
    display        : inline-flex;
    width          : 200px;
    margin-bottom  : 7px;
    white-space    : nowrap;
    text-decoration: none;
    color          : gray;
    font-size      : 0.9rem;
    text-align     : left;
    padding: 0px 5px;
}
.container p{
 text-align: ;
}
h4{
    text-align: center;
}
